@model Czytnik_Model.ViewModels.UserReviewViewModel

<li class="userReview">
    <div class="userReview__header">
        <div>
            <svg class="userReview__icon icon" viewBox="0 0 32 32">
                <use xlink:href="/assets/svg/sprite.svg#icon-star"></use>
            </svg>
            <span class="userReview__rating">@Model.Rating</span>
        </div>
        <span class="userReview__date">@Model.ReviewDate.ToString("dd-MM-yyyy")</span>
    </div>
    <a href="/Book/Index/@Model.BookId" class="userReview__title" title="@Model.BookTitle">@Model.BookTitle - <span class="userReview__author">@string.Join(", ",Model.Authors)</span></a>
    <p class="userReview__text">
        @Model.ReviewText
    </p>
</li>